body {
    font-family: "Merriweather", serif;
    font-style: normal;
    background-color: #F38181; /* Warna latar belakang dasar */
    color: #FCE38A;
    margin: 0;
    padding: 0;
    background-image: url('bungagloriosa.png'); /* Ganti dengan jalur gambar bunga */
    background-size: 22%; /* Menyesuaikan ukuran gambar agar menutupi seluruh elemen */
    background-repeat: repeat; /* Mencegah gambar diulang */
    background-position: center; /* Menempatkan gambar di tengah */
    background-blend-mode: multiply; /* Menggabungkan warna latar belakang dengan gambar */
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
    pointer-events: none; /* Memastikan overlay tidak mengganggu interaksi dengan konten */
}



.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 20px;
    background-color: #EAFFD0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.01);
}

.round-image {
    width: 150px; /* Atur lebar gambar */
    height: 150px; /* Atur tinggi gambar */
    border-radius: 50%; /* Membuat gambar menjadi bulat */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
    border: 4px solid #F38181; /* Opsional: Tambahkan border jika diinginkan */
}


header {
    text-align: center;
    margin-bottom: 50px;
}

header h3 {
    font-family: "Merriweather", serif;
    font-style: italic;
    background-color: #EAFFD0;
    color: #95E1D3;
}
header h4 {
    font-family: "Merriweather", serif;
    font-style: normal;
    background-color: #EAFFD0;
    color: #F38181;
}

section {
    margin-bottom: 10px;
}


section h2 {
    font-size: 2em;
    border-bottom: 2px solid #95E1D3;
    padding-bottom: 10px;
    color: #95E1D3;
}
section h3 {
    
    padding-bottom: 10px;
    color: #95E1D3;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #F38181;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #FCE38A;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

ul li:hover {
    background-color: #F38181;
    box-shadow: 0 4px 8px rgb(0, 225, 255);
}

a {
    text-decoration: dashed;
    color: #FCE38A;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    section h2 {
        font-size: 1.5em;
    }

    ul li {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    section h2 {
        font-size: 1.2em;
    }

    ul li {
        padding: 8px;
    }
}
